<div id="filterRecord" class="float-right p-1 rounded">
   <label> &#10024; Filter Records: </label>

   <div class="form-check form-check-inline">
     <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1"checked="checked"/>
     <label class="form-check-label" for="inlineRadio1">Active</label>
   </div>
   <div class="form-check form-check-inline">
     <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2"/>
     <label class="form-check-label" for="inlineRadio2">Deleted</label>
   </div>
   <div class="form-check form-check-inline">
     <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3"/>
     <label class="form-check-label" for="inlineRadio3">All</label>
   </div>
</div>

<style type="text/css">
   #filterRecord
   {
       background-color:Silver;
   }
</style>