/*body * {
    font-family: 'Open Sans', sans-serif !important;
    background-color: #334767;
}
*/

no-m-p
{
    padding:0px !important;
    margin:0px !important;
}

i
{
    padding:0px;
    margin:0px;
    font-family: 'FontAwesome', sans-serif; 
}

ul{
    list-style-type: none;
    padding:0px;
}

.width100
{
    width:100px;
}
.width200
{
    width:200px;
}
