@model LMS.Models.BookFineMaster
@{
   ViewBag.Title = "Index";
}
<center>
   <h2>BookFine Master</h2>
</center>
<div class="p-2">
   <a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("InsertOrUpdate")/0', 'BookFine Master')">
      <i class="fa fa-plus"></i>Add New</a>
   @{ Html.RenderPartial("_FilterData"); }
   <table id="BookFineMasterTable" class="table table-striped table-bordered" style="width: 100%">
      <thead>
         <tr>
               <th>Id</th>
               <th>Book Type</th>
               <th>Fine Type</th>
               <th>Late Fee Base Charge Amount</th>
               <th>Late Fee Base Charge Percent</th>
               <th>Late Fee Increase Amount</th>
               <th>Late Fee Increase Percentage</th>
               <th>IsDeleted</th>
            <th>Control</th>
         </tr>
      </thead>
   </table>
</div>

@section scripts{
   <script type="text/javascript" src="../../Scripts/LMSCommon.js"></script>
   <script type="text/javascript">
      $(document).ready(function () {
         bindDatatable(0);
      });

      $('#filterRecord').find('input').change(function() {
         bindDatatable(this.value)
      });

      function bindDatatable(displayRecords)
      {
         if($('#BookFineMasterTable'))
         {
            $('#BookFineMasterTable').dataTable({
               "bDestroy": true
            }).fnDestroy();
         }

         var editUrl = '@Url.Action("InsertOrUpdate")/';
         var deleteUrl = '@Url.Action("InsertUpdateOrDelete", "BookFineMaster")';

         debugger;
         dataTable =  $("#BookFineMasterTable").DataTable({
            "ajax": {
               "url": "/BookFineMaster/GetData/",
               "data": { "displayRecords" : displayRecords },
               "type": "GET",
               "datatype": "json"
            },
            "columns": [
               { "data": "Id" },
               { "data": "BookType" },
               { "data": "FineType" },
               { "data": "LateFeeBaseChargeAmount" },
               { "data": "LateFeeBaseChargePercent" },
               { "data": "LateFeeIncreaseAmount" },
               { "data": "LateFeeIncreasePercentage" },
               { "data": "IsDeleted" },
               { "data": "Id" ,
               "render" : function (data, isDeleted) {
               debugger;
                  return "<a class='btn btn-primary btn-sm" + (data.IsDeleted ? " disabled" : "") + "' onclick=PopupForm('" + editUrl + data + "','BookFineMaster')>"
                  + " <i class='fa fa-pencil'></i> Edit</a>"
                  + " <a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ",'BookFineMaster','" + deleteUrl + "')>"
                  + " <i class='fa fa-trash'></i> Delete</a>";
               },
                  "orderable": false,
                  "searchable":true,
               }
            ],
            "language": {
               "emptyTable" : "No bookFines found, Please click on <b>Add New</b> Button",  
               "processing" : "<i class='fa fa-spinner fa-spin fa-3x fa-fw' style='color:#2a2b2b;'></i><span class='sr-only'>Loading...</span>" 
            }
         });
      };
   </script>
}
