body
{
    font-family: 'Work Sans', sans-serif;
    background-color: #404850;
}
    
#div-main{
    background-color: #EEE;
}
#header-navbar .navbar-brand,
#header-navbar .navbar-text, 
#footer-navbar .navbar-brand,
#footer-navbar .navbar-text { 
    color: white;
    margin-left: 10px;
}
    
.nav-button
{
    type: "button";
    data-toggle: "collapse";
    data-target: "#NavbarMain";
    aria-controls: "NavbarMain";
    aria-expanded: "false";
    aria-label: "Toggle navigation";
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
