body
{
    padding:5px;
    background-color:#334767
}
#lms-sidebar
{
    overflow-x: hidden;
    background-color:#334767
}
#lms-sidebar *
{
    border-bottom-color:Black;
    border-bottom:5px;
}
#lms-sidebar button
{
    border-bottom-color:Black;
    border-bottom:5px;
    background-color:#384E72
}
#lms-sidebar a
{
    color:White;
    border-bottom-color:Black;
    border-bottom:5px;
    margin-left:15px;
}
#header-div
{
    border-bottom:5px;
    border-bottom-color:White;
}
#openNav
{
    display:none;
    margin-right:120px;
}
#header-title
{
    font-size:20px;
    font-weight:500;
    color: White;
}
.w3-sidebar
{
    font-size:14px;
    font-weight:500;
    color: White;
}