.nav-button
{
    type: "button";
    data-toggle: "collapse";
    data-target: "#NavbarMain";
    aria-controls: "NavbarMain";
    aria-expanded: "false";
    aria-label: "Toggle navigation";
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.carousel-item
{
    text-align: center;
    margin-top: 75px;
    data-interval: 2000;
}

.carousel-quote
{
    font-style:italic;
    font-size:large;
}

.carousel-author
{
    font-style:oblique;
    font-size:large;
}

#login-modal
{
    background-color: Black;
    margin-top: 50px;
    role: "dialog";
    data-backdrop: "static";
    data-keyboard: "false";
    border-radius: 25px;
}

#user-image
{
    width: 144px;
    height: 144px;
}

.modal-dialog .modal-content
{
    padding:5px;
    background-color: Black;
    box-shadow: 1px 1px 10px #fff;
}

.control-btn
{
    margin-right: 5px;
    margin-left: 5px;
    width: 100px;
}