#login-modal
{
    margin-top: 50px;
    role: "dialog";
    data-backdrop: "static";
    data-keyboard: "false";
    border-radius: 25px;
}

#user-image
{
    width: 144px;
    height: 144px;
}

.modal-dialog .modal-content
{
    padding:5px;
    background-color:#eee;
    box-shadow: 1px 1px 10px #000;
}

.control-btn
{
    margin-right: 5px;
    margin-left: 5px;
    width: 100px;
}